.pg-hd
    background #414b59
    color #fff
    .logo
        display block
        width 107px
        padding 11px 0
    .info
        float right
        .user
            float left
            padding 10px 17px
            .portrait
                display inline-block
                width 40px
                height 40px
                border 2px solid #fff
                border-radius 22px
                vertical-align middle
            .name
                margin 0 20px 0 14px
            .icon-arrow
                display inline-block
                width 12px
                height 10px
                bgImg(0, 0)
        .cart
            position relative
            float left
            padding-bottom 26px
            color #fff
            .icon-cart
                display inline-block
                width 40px
                height 37px
                margin-top 5px
                bgImg(-17px, 0)
            .num
                position absolute
                top 4px
                left 18px
            .name
                vertical-align 5px