div(class='pg-hd')
    div(class="container")
        div(class='info')
            div(class='user')
                img(class='portrait', src='http://tp4.sinaimg.cn/1969110243/180/5695186658/0')
                span(class='name') 5k2014
                span(class='icon-arrow')
            a(class='cart', href="")
                span(class='icon-cart')
                span(class='num') 99
                span(class='name') 购物车
        a(href='', class='logo')
            img(src='../images/logo2.png')
