doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title= '列表页'
        link(rel='stylesheet', href='../css/home.css')
    body
        div(class='pg-hd')
            div(class="container")
                div(class='info')
                    div(class='user')
                        img(class='portrait', src='http://tp4.sinaimg.cn/1969110243/180/5695186658/0')
                        span(class='name') 5k2014
                        span(class='icon-arrow')
                    a(class='cart', href="")
                        span(class='icon-cart')
                        span(class='num') 99
                        span(class='name') 购物车
                a(href='', class='logo')
                    img(src='../images/logo.png')

        div(class='tc-banner')
            span(class='arrow prev')
            span(class='arrow next')
            ul(class='con')
                li
                    a(href='', target='_blank', style='background: url(../images/banner.png) center center no-repeat;')
        div(class='container section-search Fix')
            div(class='result')
                h3(class='tit')
                    span(class='icon-dot')
                    搜索目的地
                div(class='block')
                    div(class='search')
                        span(class='icon-search')
                        input(class='input', type='text', placeholder='搜索国家、城市、景点')
                    div(class='nav')
                        a(href='javascript:;') 北美
                        span >
                        a(href='javascript:;') 北美
                        span >
                        span 美国
                    div(class='list')
                        ul
                            li
                                span(class='icon-add')
                                a(href='', class='name') 曼谷 Bangkok
                                span(class='rec') 11111个推荐商品
                            li
                                span(class='icon-add')
                                a(href='', class='name') 香港 Hongkong
                                span(class='rec') 11111个推荐商品
            div(class='select')
                h3(class='tit')
                    span(class='icon-dot')
                    已选择目的地
                ul(class='list')
                    li
                        span(class='icon-del') X
                        曼谷 Bangkok
                    li
                        span(class='icon-del') X
                        香港 hongkong
                a(href='list.html', class='btn-view') 查看商品
        div(class='section-list')
            div(class='container mod')
                h4(class='tit') — 全球通用 —
                ul(class='list Fix')
                    li(class='good')
                        a(href='', class='top')
                            img(class='img', src='../images/home/1.jpg')
                        div(class='info')
                            a(class='name', href='') 全球适用万能转化插头
                            p(class='location')
                                span(class='icon-location')
                                全球通用
                            p(class='des') “特别好不买是傻逼部不买是傻逼是傻逼傻逼呢呢特别好不买买是傻逼傻傻逼傻。”
                    li(class='good')
                        a(href='', class='top')
                            img(class='img', src='../images/home/2.jpg')
                        div(class='info')
                            a(class='name', href='') 大容量旅行洗漱包
                            p(class='location')
                                span(class='icon-location')
                                全球通用
                            p(class='des') “特别好不买是傻逼部不买是傻逼是傻逼傻逼呢呢特别好不买买是傻逼傻傻逼傻。”
                    li(class='good')
                        a(href='', class='top')
                            img(class='img', src='../images/home/3.jpg')
                        div(class='info')
                            a(class='name', href='') 五彩缤纷行李牌
                            p(class='location')
                                span(class='icon-location')
                                全球通用
                            p(class='des') “特别好不买是傻逼部不买是傻逼是傻逼傻逼呢呢特别好不买买是傻逼傻傻逼傻。”
                    li(class='good')
                        a(href='', class='top')
                            img(class='img', src='../images/home/4.jpg')
                        div(class='info')
                            a(class='name', href='') 旅行必备药盒
                            p(class='location')
                                span(class='icon-location')
                                全球通用
                            p(class='des') “特别好不买是傻逼部不买是傻逼是傻逼傻逼呢呢特别好不买买是傻逼傻傻逼傻。”
                    li(class='good')
                        a(href='', class='top')
                            img(class='img', src='../images/home/5.jpg')
                        div(class='info')
                            a(class='name', href='') 多功能旅行运动腰包
                            p(class='location')
                                span(class='icon-location')
                                全球通用
                            p(class='des') “特别好不买是傻逼部不买是傻逼是傻逼傻逼呢呢特别好不买买是傻逼傻傻逼傻。”
                    li(class='good')
                        a(href='', class='top')
                            img(class='img', src='../images/home/6.jpg')
                        div(class='info')
                            a(class='name', href='') 多功能旅行证件包
                            p(class='location')
                                span(class='icon-location')
                                全球通用
                            p(class='des') “特别好不买是傻逼部不买是傻逼是傻逼傻逼呢呢特别好不买买是傻逼傻傻逼傻。”
                    li(class='good')
                        a(href='', class='top')
                            img(class='img', src='../images/home/7.jpg')
                        div(class='info')
                            a(class='name', href='') 儿童旅行必备尿壶
                            p(class='location')
                                span(class='icon-location')
                                全球通用
                            p(class='des') “特别好不买是傻逼部不买是傻逼是傻逼傻逼呢呢特别好不买买是傻逼傻傻逼傻。”
                    li(class='good')
                        a(href='', class='top')
                            img(class='img', src='../images/home/8.jpg')
                        div(class='info')
                            a(class='name', href='') 旅行户外饮水袋
                            p(class='location')
                                span(class='icon-location')
                                全球通用
                            p(class='des') “特别好不买是傻逼部不买是傻逼是傻逼傻逼呢呢特别好不买买是傻逼傻傻逼傻。”
            div(class='container mod')
                h4(class='tit') — 周边游 —
                ul(class='list Fix')
                    li(class='good')
                        a(href='', class='top')
                            img(class='img', src='../images/home/9.jpg')
                        div(class='info')
                            a(class='name', href='') 户外可折叠便携水桶
                            p(class='location')
                                span(class='icon-location')
                                全球通用
                            p(class='des') “特别好不买是傻逼部不买是傻逼是傻逼傻逼呢呢特别好不买买是傻逼傻傻逼傻。”
                    li(class='good')
                        a(href='', class='top')
                            img(class='img', src='../images/home/10.jpg')
                        div(class='info')
                            a(class='name', href='') LED户外营地灯
                            p(class='location')
                                span(class='icon-location')
                                全球通用
                            p(class='des') “特别好不买是傻逼部不买是傻逼是傻逼傻逼呢呢特别好不买买是傻逼傻傻逼傻。”
                    li(class='good')
                        a(href='', class='top')
                            img(class='img', src='../images/home/11.jpg')
                        div(class='info')
                            a(class='name', href='') 户外求生多用线锯
                            p(class='location')
                                span(class='icon-location')
                                全球通用
                            p(class='des') “特别好不买是傻逼部不买是傻逼是傻逼傻逼呢呢特别好不买买是傻逼傻傻逼傻。”
                    li(class='good')
                        a(href='', class='top')
                            img(class='img', src='../images/home/12.jpg')
                        div(class='info')
                            a(class='name', href='') 户外多功能铁锹
                            p(class='location')
                                span(class='icon-location')
                                全球通用
                            p(class='des') “特别好不买是傻逼部不买是傻逼是傻逼傻逼呢呢特别好不买买是傻逼傻傻逼傻。”
            div(class='container mod')
                h4(class='tit') — 热门城市 —
                ul(class='list Fix')
                    li(class='good')
                        a(href='', class='top')
                            img(class='img', src='../images/home/13.jpg')
                        div(class='info')
                            a(class='name', href='') 旅行必备游泳防水手机袋
                            p(class='location')
                                span(class='icon-location')
                                中国-三亚
                            p(class='des') “特别好不买是傻逼部不买是傻逼是傻逼傻逼呢呢特别好不买买是傻逼傻傻逼傻。”
                    li(class='good')
                        a(href='', class='top')
                            img(class='img', src='../images/home/14.jpg')
                        div(class='info')
                            a(class='name', href='') 男女款防紫外线超薄运动衣
                            p(class='location')
                                span(class='icon-location')
                                中国-三亚
                            p(class='des') “特别好不买是傻逼部不买是傻逼是傻逼傻逼呢呢特别好不买买是傻逼傻傻逼傻。”
                    li(class='destination')
                        a(href='')
                            img(class='img', src='../images/home/15.jpg')
                            p(class='info')
                                span(class='icon-location')
                                中国-三亚 1222件相关商品
                    li(class='destination')
                        a(href='')
                            img(class='img', src='../images/home/16.jpg')
                            p(class='info')
                                span(class='icon-location')
                                泰国-曼谷 1222件相关商品
                    li(class='good')
                        a(href='', class='top')
                            img(class='img', src='../images/home/17.jpg')
                        div(class='info')
                            a(class='name', href='') 儿童驱蚊喷雾
                            p(class='location')
                                span(class='icon-location')
                                泰国-曼谷
                            p(class='des') “特别好不买是傻逼部不买是傻逼是傻逼傻逼呢呢特别好不买买是傻逼傻傻逼傻。”
                    li(class='good')
                        a(href='', class='top')
                            img(class='img', src='../images/home/18.jpg')
                        div(class='info')
                            a(class='name', href='') 防菌马桶一次性坐垫
                            p(class='location')
                                span(class='icon-location')
                                泰国-曼谷
                            p(class='des') “特别好不买是傻逼部不买是傻逼是傻逼傻逼呢呢特别好不买买是傻逼傻傻逼傻。”